services:
    pia-qbittorrent:
        image: j4ym0/pia-qbittorrent
        container_name: pia-qbittorrent
        cap_add:
            - NET_ADMIN
        environment:
            - PIA_REGION=Netherlands
            - PIA_USERNAME=
            - PIA_PASSWORD=
        volumes:
            - ./config:/config
            - ./downloads:/downloads
        ports:
            - "8888:8888"
        restart: unless-stopped
